<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="animated fadeInDown">
  <ion-fab-button (click)="togglePopupMenu()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    <div class="popup-menu-item" (click)="useCamera()">
      <ion-icon name="aperture" slot="middle" size="large"></ion-icon>
      <span>Caméra</span>
    </div>
    <div class="popup-menu-item" (click)="gotToImages()">
      <ion-icon name="image" slot="middle" size="large"></ion-icon>
      <span>Historique d'envoi</span>
    </div>
  </div>
</div>
