<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="closeModal()">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
		Envoyer le rapport
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

	<!--<ion-row *ngFor="let item of questions">-->
		<!--<ion-item>-->
			<!--<ion-label color="primary" stacked>-->
				<!--<ion-text class="uk-form-width-large">-->
					<!--{{ item.question }}-->
				<!--</ion-text>-->
			<!--</ion-label>-->
		<!--</ion-item>-->
		<!--<ion-item>-->
			<!--<ion-input type="text" class="form-control"></ion-input>-->
		<!--</ion-item>-->
	<!--</ion-row>-->
	<form [formGroup]="form" (ngSubmit)="this.manage(form.value)">

		<div formArrayName="questions" margin-bottom>
			<section [formGroupName]="i"
					*ngFor="let item of form.controls.questions.controls; let i = index">
				<ion-item-group>
					<ion-item-divider color="light">
						<ion-input type="text" disabled formControlName="question"></ion-input>
					</ion-item-divider>
					<ion-item>
						<ion-input type="text" formControlName="response"></ion-input>
					</ion-item>
				</ion-item-group>
			</section>
		</div>

		<!--<ion-item>-->
		  <!--<ion-label class="fw500" color="dark">Organize by</ion-label>-->
		  <!--<ion-select [(ngModel)]="organizeby">-->
			<!--<ion-select-option>Most Relevant</ion-select-option>-->
			<!--<ion-select-option>Closest</ion-select-option>-->
			<!--<ion-select-option>Low Price</ion-select-option>-->
			<!--<ion-select-option>High Price</ion-select-option>-->
			<!--<ion-select-option>Shorter delivery time</ion-select-option>-->
			<!--<ion-select-option>Most rating</ion-select-option>-->
		  <!--</ion-select>-->
		<!--</ion-item>-->

		<!--<ion-item>-->
		  <!--<ion-label class="fw500" color="dark">Dish Type</ion-label>-->
		  <!--<ion-select [(ngModel)]="dishtype" multiple="true">-->
			<!--<ion-select-option>Health Food</ion-select-option>-->
			<!--<ion-select-option>Veggie</ion-select-option>-->
			<!--<ion-select-option>Pasta</ion-select-option>-->
			<!--<ion-select-option>Barbecue</ion-select-option>-->
			<!--<ion-select-option>Casual Dining</ion-select-option>-->
			<!--<ion-select-option>Fine Dining</ion-select-option>-->
			<!--<ion-select-option>Street Food</ion-select-option>-->
			<!--<ion-select-option>Fast Food</ion-select-option>-->
			<!--<ion-select-option>Pizza</ion-select-option>-->
		  <!--</ion-select>-->
		<!--</ion-item>-->

		<!--<ion-item>-->
		  <!--<ion-label class="fw500" color="dark">Nationalities</ion-label>-->
		  <!--<ion-select [(ngModel)]="dishnationality" multiple="true">-->
			<!--<ion-select-option>German</ion-select-option>-->
			<!--<ion-select-option>Japanese</ion-select-option>-->
			<!--<ion-select-option>Korean</ion-select-option>-->
			<!--<ion-select-option>Indian</ion-select-option>-->
			<!--<ion-select-option>Arabian</ion-select-option>-->
			<!--<ion-select-option>Italian</ion-select-option>-->
			<!--<ion-select-option>Chinese</ion-select-option>-->
			<!--<ion-select-option>Brazilian</ion-select-option>-->
			<!--<ion-select-option>Thai</ion-select-option>-->
		  <!--</ion-select>-->
		<!--</ion-item>-->

		<!--<ion-item margin-bottom>-->
		  <!--<ion-label class="no-margin-bottom">-->
		  <!--<ion-text color="dark" class="fw500">Min/Max Price:</ion-text>-->
		<!--</ion-label>-->

		  <!--<ion-range dualKnobs="true" [(ngModel)]="minmaxprice" min="10" max="1000" step="10" class="no-padding-top">-->
			<!--<ion-label slot="start"><ion-text color="primary">$ {{minmaxprice.lower}}</ion-text></ion-label>-->
			<!--<ion-label slot="end"><ion-text color="primary">$ {{minmaxprice.upper}}</ion-text></ion-label>-->
		  <!--</ion-range>-->
		<!--</ion-item>-->

		<ion-button type="submit" expand="full" color="primary">
			Envoyer
		</ion-button>
	</form>
</ion-content>
