<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">CS2M</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card no-margin class="no-radius">
    <ion-item lines="none" color="medium">
      <ion-label>
        <h2 no-margin class="fw500 no-margin">
          <ion-text color="dark">Compaigne Actuel</ion-text>
        </h2>

        <p class="text-11x no-margin">
          <ion-text color="primary">#{{ campaign.id }} {{ campaign.title }}</ion-text> <br />
          <ion-text color="primary">PIN: {{ campaign.pin }}</ion-text>
        </p>
      </ion-label>
      <ion-button shape="round" fill="outline" size="small" color="primary" (click)="alertLocation()">
        Changer
        <ion-icon name="locate"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>


  <ion-card class="bg-white">
    <ion-img [src]="campaign.image"></ion-img>
  </ion-card>

  <ion-item>
    <ion-icon name="pin" color="secondary" *ngIf="!isTracking"></ion-icon>
    <ion-icon name="close-circle" color="danger" *ngIf="isTracking"></ion-icon>
    <ion-label color="secondary" ngClass="my-label" *ngIf="!isTracking">Suivi GPS</ion-label>
    <ion-label color="danger" ngClass="my-label" *ngIf="isTracking">Suivi GPS</ion-label>
    <ion-button [disabled]="!campaign.id" *ngIf="!isTracking" fill="outline" size="small"
                color="secondary" (click)="startTracking()"> Commencer </ion-button>
    <ion-button *ngIf="isTracking" fill="outline" color="danger" size="small" (click)="stopTracking()">
      Arrêter
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="trending-up" color="secondary"></ion-icon>
    <ion-label color="secondary" ngClass="my-label">Rapport quotidien</ion-label>
    <ion-button [disabled]="!campaign.id" color="secondary" fill="outline" size="small" *ngIf="isSupervisor" (click)="searchFilter()">
      <ion-label>Envoyer</ion-label>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="aperture" color="secondary"></ion-icon>
    <ion-label color="secondary" ngClass="my-label">Envoyer une photo</ion-label>
    <ion-button [disabled]="!campaign.id" color="secondary" fill="outline" size="small" (click)="takePicture()">
      <ion-label>Camera</ion-label>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="image" color="secondary"></ion-icon>
    <ion-label  color="secondary" ngClass="my-label">Photos envoyées</ion-label>
    <ion-button [disabled]="!campaign.id" color="secondary" fill="outline" size="small" (click)="gotToImages()">
      <ion-label>Voir</ion-label>
    </ion-button>
  </ion-item>

</ion-content>
