<ion-content>


  <ion-card no-margin>
    <ion-card-content>
      <p class="ion-text-center">
        <img src="assets/img/cloud-off.png">
      </p>
      <p>
        Il se peut que vous ne puissiez pas utiliser cette application.
      </p>
      <p>
        Merci de vérifier que vous êtes connecter à Internet. Puis ressayer
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
