<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home" text="Retour"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">CS2M</ion-text>
      </ion-text>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text *ngIf="!images[0]">
    Aucune photo trouvée pour aujourd'hui
  </ion-text>

  <ion-item *ngFor="let image of images">
    <ion-thumbnail slot="start">
      <img [src]="'data:image/png;base64,' + image?.image" alt=""/>
    </ion-thumbnail>
    <ion-icon *ngIf="image?.submit_status" name="checkmark" color="success"></ion-icon>
    <ion-text *ngIf="image?.submit_status" color="success">Envoyèe avec succès</ion-text>

    <ion-icon  *ngIf="!image?.submit_status" name="warning" color="danger"></ion-icon>
    <ion-text  *ngIf="!image?.submit_status" color="danger">Échec</ion-text>
    <ion-button  *ngIf="!image?.submit_status" fill="outline" slot="end" (click)="sendPicture(image?.id)">
      Renvoyer
    </ion-button>
  </ion-item>
</ion-content>
